@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100% !important;
    height: 100% !important;
}

.container-fluid{
    max-width: 1400px !important;
}

.container{
    max-width: 1400px !important;
}

.nav-container{
    background: rgb(75,17,7);
    background: linear-gradient(180deg, rgba(75,17,7,1) 0%, rgba(69,27,10,1) 100%);
}

.navbar-brand{
    color: rgb(245, 245, 245);
}

.navbar-brand:hover{
    color: rgb(224, 224, 224);
}

.nav-item a{
    color: rgb(245, 245, 245);
}

.nav-item a:hover{
    color: rgb(224, 224, 224);
}

/* search input starts*/
.search-input{
    height: 45px;
    width: 200px;
    border-radius: 20px;
}
.search-btn{
    padding: 8px 10px;
}

.search-btn:hover{
    background-color: rgb(190, 33, 54);
}

.plus-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.plus-btn:hover{
    background-color: rgb(190, 33, 54);
}

/* search input ends */

/* Signup page starts */
button,
input {
    border: none;
    outline: none;
}

.signup {
    background-color: white;
    width: 100%;
    max-width: 500px;
    /* padding: 50px 70px; */
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn-div{
    padding: 0 30px;
}

.submit-btn{
    width: 100%;
}

.inner-form{
    padding: 20px 30px;
}

.form-header{
    background: rgb(75,17,7);
    background: linear-gradient(180deg, rgba(75,17,7,1) 0%, rgba(69,27,10,1) 100%);
    padding: 30px 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.form-header h1, h2 a span{
    color: rgb(231, 231, 231);
}

h1 {
    text-align: center;
    color: #a4243b;
}
h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 40px;
    color: rgb(231, 231, 231);
}

h2 span {
    text-decoration: underline;
    cursor: pointer;
    color: #a4243b;
}

.signup-login-link{
    color: rgb(217, 189, 230);
}

/*  Field */
.signup__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    /* border-bottom: 2px solid #4b111b; */
}

.signup__field.error{
    border-bottom: 2px solid #bb0808;
}

.signup__field:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 2px;
    background: #0b7502;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}

.signup__field:hover:before {
    width: 100%;
}

/*  Input */
.signup__input {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 10px 2px 0;
    border-bottom: 2px solid #e0e0e0;
}

.create-task-link span{
    color: rgb(231, 231, 231) !important;
}

/*  Label */
.signup__label {
    color: #bdbdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.signup__input:focus + .signup__label,
.signup__input:valid + .signup__label {
    top: 0;
    font-size: 1rem;
    background-color: white;
}

/* Search input field starts */
.filter_field {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    position: relative;
    margin-bottom: 50px;
    /* border-bottom: 2px solid #4b111b; */
}

.filter_field.error{
    border-bottom: 2px solid #bb0808;
}

.filter_field:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 2px;
    background: #0b7502;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}

.filter_field:hover:before {
    width: 100%;
}

/*  Input */
.signup__input {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 10px 2px 0;
    border-bottom: 2px solid #e0e0e0;
}

/*  Label */
.signup__label {
    color: #bdbdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.signup__input:focus + .signup__label,
.signup__input:valid + .signup__label {
    top: 0;
    font-size: 1rem;
    background-color: white;
}
/* Search input field ends */

/*  Button */
button {
    background: #a4243b;
    color: white;
    padding: 12px 0;
    font-size: 1.2rem;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background: #4b111b;
}

textarea:focus-visible {
    border: none;
}
/* Signup page ends */


/* Popup container starts */
.popup-container{
    position: fixed;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transition: linear 0.3s;
    z-index: 99;
}

.popup-container.show {
    pointer-events: auto;
    opacity: 1;
    transition: 0.3s;
}

.delete-popup-container{
    position: fixed;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transition: linear 0.3s;
    z-index: 99;
}

.delete-popup-container.show {
    pointer-events: auto;
    opacity: 1;
    transition: 0.3s;
}

.popup {
    position: relative;
    background-color: rgb(59, 30, 30);
    /* max-width: 600px;
    max-height: 500px; */
    border-radius: 10px;
    padding-left: 60px;
    padding-right: 60px;
    height: 200px;
    width: 300px;
}

.delete-popup {
    position: relative;
    background-color: rgb(59, 30, 30);
    /* max-width: 600px;
    max-height: 500px; */
    border-radius: 10px;
    padding-left: 60px;
    padding-right: 60px;
    height: 250px;
    width: 300px;
}

.success-tick{
    position: absolute;
    top: -50px;
    height: 150px;
    width: 150px;
}

.registration-success-div{
    position: absolute;
    top: 120px;
}

.registration-success-div p span{
    color: rgb(245, 245, 245);
}

.close-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
/* Popup container ends */

/* Date picker starts */
.datepicker {
    background-color: #fff;
    padding: 6px !important;
    /* border: none; */
}
  
.datepicker-dropdown {
    top: 0;
    left: 0;
}
  
.datepicker table tr td.today, span.focused {
    border-radius: 50% !important;
    
}
  
thead tr:nth-child(2) {
    background: rgb(62,7,75);
    background: linear-gradient(180deg, rgba(62,7,75,1) 0%, rgba(40,10,69,1) 63%);
}
  
thead tr:nth-child(3) th {
    color: #400053 !important;
    padding-top: 20px;
    padding-bottom: 10px;
}
  
.dow, .old-day, .day, .new-day {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important;
}
  
.old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
    border-radius: 50% !important;
    background-color: #eee;
}
  
.active {
    border-radius: 50% !important;
    background-image: linear-gradient(#140352, #2e024b) !important;
    color: #fff !important;
}
  
.prev, .next, .datepicker-switch {
    border-radius: 0 !important;
    padding: 20px 10px !important;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    opacity: 0.8; 
}
  
.prev:hover, .next:hover, .datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1;
}
/* Date picker ends */


/* Custom select dropdown starts*/
  
.icon_select_mate {
    position: absolute;
    top: 6px;
    right: 2%;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
}

.select_mate {
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
    color: #535353;
    font-size: 14px;
    font-weight: 400;
    background-color: #fcfcfc;
    border: 1px solid rgb(235, 235, 235);
    /* box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3); */
    border-radius: 0.35rem;
    transition: all 375ms ease-in-out;
}

.select_mate:hover{
    background-color: rgb(228, 228, 228);
}

.select_mate select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    z-index: -1;
}

.cont_list_select_mate {
    position: relative;
    left: -1px;
    float: left;
    width: 100%;
}

.cont_select_int {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 375ms ease-in-out;
}

.cont_select_int li {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F5F5F5;
    list-style-type: none;
    padding: 10px 15px;
    margin: 0px;
    transition: all 275ms ease-in-out;
    display: block;
    cursor: pointer;
}

.cont_select_int li:last-child {
    border-radius: 3px;
    border-bottom: 0px;
}

.cont_select_int li:hover {
    background-color: #ebebeb;
}

.cont_select_int li.dropdown-active {
    background-color: #EEEEEE;
}

/* etiqueta <p> con la opción seleccionada  */
.selecionado_opcion {
    padding: 8px 8px;
    width: 96%;
    color: rgb(82, 82, 82) !important;
    display: block;
    margin: 0px;
    cursor: pointer;
}

.required-star{
    color: red;
    font-size: 12px;
}
/* custom select dropdown ends */


